.hole {
  background: url("/hole.png") no-repeat center/contain;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.mole {
  background: url("/mole.png") no-repeat center/contain;
  width: 100px;
  height: 100px;
  cursor: pointer;

}

header {
  text-align: center;
  margin-top: 1rem;
}

.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
  /* Push it to vertical center */
  gap: 1.5rem;
}

.playButton button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.playButton button:hover {
  background-color: #47664d;
}


.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
  margin-top: 2rem;
}

.field ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);

  gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}